.modal-content {
  padding: 1rem;
  background: rgb(0, 121, 4);
  color: white;
}
.modal-content h2 {
  margin-bottom: 3rem;
  font-weight: normal;
  text-align: center;
}
.actions {
  margin-top: 5rem;
  display: flex;
  justify-content: flex-end;
}
.actions button {
  padding: 0.6rem 1.1rem;
  background: #e2e2e2;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
