.modal-content {
  padding: 1rem;
  background: rgb(103, 0, 0);
  color: #fff;
}
.modal-content h2 {
  margin-bottom: 3rem;
  font-weight: normal;
  text-align: center;
}
.actions {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-end;
}
.actions button {
  padding: 0.6rem 1.1rem;
  background: #000;
  color: #fff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
p.last {
  margin-top: 1.5rem;
}
p span.emphasize {
  color: #000;
}
