.modal-content {
  padding: 1rem;
  background: white;
}
.modal-content h2 {
  margin-bottom: 3rem;
  font-weight: normal;
  text-align: center;
}
.modal-content p.first {
  margin-bottom: 1rem;
}
.actions {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
.actions button {
  padding: 0.6rem 1.1rem;
  background: #e2e2e2;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.actions button:first-child {
  background: rgb(103, 0, 0);
  color: #fff;
}
