.modal-container {
  padding: 1rem;
  max-width: 50rem;
  margin: auto;
}
.modal-container h1 {
  margin-bottom: 3rem;
  text-align: center;
  font-family: "Allura";
  font-size: 3rem;
}
.last-sentence {
  margin-top: 0.5rem;
  display: block;
}
header p {
  margin-bottom: 2rem;
  text-align: justify;
}
.modal-container .actions {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 7rem;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.actions button {
  padding: 0.6rem 1.3rem;
  border: none;
  background: darkred;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0.3rem;
  cursor: pointer;
  width: 100%;
}
.content {
  margin-top: 5rem;
}
.content h2 {
  font-weight: 500;
  font-family: "Allura";
  font-size: 2.1rem;
  margin-bottom: 0.5rem;
}
.actions button.M2 {
  background: rgb(0, 100, 5);
}
.actions button.M3 {
  background: blueviolet;
}
.modal-data {
  display: flex;
  flex-direction: column;
}
.modal-text {
  background: rgb(0, 100, 5);
  color: #fff;
  border-radius: 0.3rem;
  padding: 0.1rem 0.6rem;
}

.modal-data input,
.duration input,
.easing input {
  border: none;
  border-bottom: 2px solid rgb(0, 141, 0);
  padding: 0.3rem 0;
  outline: none;
  caret-color: rgb(0, 141, 0);
  font-size: 1rem;
}
.duration input,
.easing input {
  padding: 0;
  border-bottom: 1px solid darkred;
  font-size: 0.9rem;
  width: 100%;
}
.duration,
.easing {
  margin-top: 0.7rem;
}
.modal-data input#M3-content {
  caret-color: blueviolet;
  border-bottom: 2px solid blueviolet;
}
.modal-data.M3 {
  margin-top: 2rem;
}
.M3 .modal-text {
  background: blueviolet;
}
.card {
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 0.3rem;
}
.animations-options {
  margin: 0.5rem 0;
}
.animations-options select {
  padding: 0.3rem;
  cursor: pointer;
  border: 1px solid rgb(116 0 0);
  width: 100%;
}
.M2 .animations-options select {
  border: 1px solid rgb(0, 100, 5);
}
.M3 .animations-options select {
  border: 1px solid blueviolet;
}
.M2 .duration input,
.M2 .easing input {
  border-bottom: 1px solid rgb(0, 100, 5);
}
.M3 .duration input,
.M3 .easing input {
  border-bottom: 1px solid blueviolet;
}
