<div class="modal-container">
  <h1>ngx-modal-ease</h1>

  <section class="content">
    <h2>Communication between caller component and callee</h2>
    <div class="modal-data">
      <label for="M2-content"
        >Data to pass to <span class="modal-text">M2</span></label
      >
      <input type="text" id="M2-content" [(ngModel)]="M2Information" />
    </div>
    <div class="modal-data M3">
      <label for="M3-content"
        >Data that comes from the
        <span class="modal-text">M3</span> component</label
      >
      <input type="text" id="M3-content" [(ngModel)]="M3Information" />
    </div>
  </section>

  <section class="actions">
    <div class="card">
      <p>This opens a modal that contains another modal to open</p>
      <div class="button-container">
        <button class="M1" (click)="onOpenM1()">Open M1</button>
      </div>
    </div>
    <div class="card">
      <p>
        This opens a modal with data to send to M2 (fill in the first input)
      </p>
      <div class="button-container">
        <button class="M2" (click)="onOpenM2()">Open M2</button>
      </div>
    </div>
    <div class="card">
      <p>This opens a modal with data coming from the component inside M3</p>
      <div class="button-container">
        <button class="M3" (click)="onOpenM3()">Open M3</button>
      </div>
    </div>
  </section>
</div>
