<div class="modal-content">
  <h2>Modal with data communication</h2>
  <p>
    This present modal contains the content of the component
    <span class="emphasize">{{ name }}</span
    >.
  </p>
  <div class="M3-data">
    <label for="M3-content-inside">Data to pass to the main component:</label>
    <input type="text" id="M3-content-inside" [(ngModel)]="M3Info" />
  </div>
  <p class="last-p">
    The data will be received by subscribing to the
    <span class="emphasize">open</span> method provided in the
    <span class="emphasize">ModalService,</span> the same method that opened the
    present modal.
  </p>

  <div class="actions">
    <button (click)="onConfirm()">Confirm</button>
  </div>
</div>
